@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="container-md">
    <!-- NAV BAR -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Profile</a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link" href="#">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <section>
        <h1>Welcome to my Web Application V1.0</h1>
        <h4>This applications is an example test for approve the final projec of the Azure AZ400 Bootcamp, promoted by SimpliLearn and Softtek.</h4>
        <h5>Created by: ALFONSO SERRANO TAPIA - ALST1</h5>
        <br>
        <img width="50%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Microsoft_Azure_Logo.svg/2560px-Microsoft_Azure_Logo.svg.png" alt="azure">
        <br><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Simplilearn_logo.png/800px-Simplilearn_logo.png" alt="simplilearn">
        <br><br>
        <img src="https://openexpoeurope.com/wp-content/uploads/2022/06/softeek.png" alt="softtek">
        <br><br>
    </section>

    <footer>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.facebook.com">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.Instagram.com">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.Twitter.com">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://www.YouTube.com" tabindex="-1" aria-disabled="true">YouTube</a>
            </li>
          </ul>
    </footer>
    
</body>
